<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFileDirectory" value="E:\Test\"/>
  </appSettings>
  <connectionStrings>
    <!--Modificar el DataSource para testear en su servidor local-->
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-MQQ1IF3\SQLEXPRESS2016;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>